<div class="header">
    <div class="widther">
        <div class="header-right">
            <img src="/assets/logo.svg" class="header-logo" alt="Monopoly">
            <a href="/browse" class="header-menu">Browse</a>
            <a href="/shop" class="header-menu">Shop</a>
            <a href="/market" class="header-menu">Market</a>
        </div>
        <div class="header-left">
        </div>
        <div class="header-user">
            <div class="header-guest-actions">
                <button id="header-login-button">Login</button>
            </div>
            <div class="header-user-actions" hidden>
                <button id="header-profile-button">Profile</button>
                <button id="header-logout-button">Logout</button>
            </div>
        </div>
    </div>
</div>
<div class="header-reconnect" hidden>
    <div class="widther">
        <div class="header-reconnect-message">Connection lost. Try to reconnect.</div>
        <button id="header-reconnect-button">Reconnect</button>
    </div>
</div>
