<div class="header">
    <div class="widther">
        <div class="header-right">
            <a href="/" class="header-logo">Home</a> 
            <!-- Should be replaced with an actual logo -->
            <a href="/browse" class="header-menu">Browse</a>
            <a href="/market" class="header-menu">Market</a>
        </div>
        <div class="header-left">
        </div>
        <div class="header-user">
            <div class="header-guest-actions">
                <button id="header-login-button">Login</button>
                <button id="header-signup-button">Sign Up</button>
            </div>
            <div class="header-user-actions" hidden>
                <button id="header-profile-button">Profile</button>
                <button id="header-logout-button">Logout</button>
            </div>
        </div>
    </div>
</div>