:root {
    --max-content-width: 1000px;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background: #262626;
    color: #fff !important;
    overflow: hidden !important;
    min-height: 100vh;
    overscroll-behavior: contain !important;
}

.wrapper {
    position: fixed;
    width: min(100%, var(--max-content-width));
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: #262626;
}


.table-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.table-body-players {
    padding: 10px;
    flex: 1 1 auto;
    position: relative;
    padding-left: 10px;
    z-index: 1;
}

.table-body-players-card {
    position: relative;
    margin-top: 10px;
    width: 100%;
    transition: 0.1s ease-in-out;
    z-index: 1;
}

.table-body-players-card:first-child {
    margin-top: 0;
}

.table-body-players-card-body {
    padding: 10px;
    height: 100%;
    background: #161a1b;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    z-index: 2;
}

.table-body-players-card-body-avatar {
    margin-top: 3px;
    height: 50px;
    width: 50px;
}

.table-body-players-card-body-name > div {
    height: 20px;
    line-height: 20px;
}

.table-body-players-card-body-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    height: 20px;
}

.table-body-players-card-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 101%;
    width: 100%;
    background: #161a1b;
    padding: 10px;
    box-sizing: border-box;
    z-index: 5;
}

.table-body-players-card.menu-open .table-body-players-card-menu {
    display: block;
}

.table-body-players-card-menu > div {
    padding: 2px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.table-body-board {
    flex: 0 0 auto;
    min-width: 400px;
    min-height: 400px;
    position: relative;
    margin-left: 10px;
    height: 100%;
    z-index: 0;
}

.table-body-board-cell {
    position: flex;
    width: 60px;
    height: 60px;
    background: #161a1b;
    border: 1px solid #fff;
}